files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      proxy_buffer_size   128k;
      proxy_buffers   4 256k;
      proxy_busy_buffers_size   256k;
      client_max_body_size 10M;

commands:
  01_create_log_dirs:
    command: |
      mkdir -p /var/log/tomcat
      mkdir -p /var/log/application
      chown -R webapp:webapp /var/log/tomcat
      chown -R webapp:webapp /var/log/application
      chmod -R 755 /var/log/tomcat
      chmod -R 755 /var/log/application

option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:process:default:
    Port: 5000
    HealthCheckPath: /actuator/health
    HealthCheckTimeout: 5
    HealthCheckInterval: 15
    MatcherHTTPCode: 200
  aws:elasticbeanstalk:application:environment:
    LOGGING_FILE_PATH: /var/log/application.log
