Resources:
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub ${AWS::StackName}-launch-template
      LaunchTemplateData:
        InstanceType: t2.micro
        ImageId: !Ref AWSEBLatestAmiId
        SecurityGroups: 
          - !Ref AWSEBSecurityGroup
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            yum update -y
            yum install -y java-17-amazon-corretto
            mkdir -p /var/log/tomcat
            mkdir -p /var/log/application
            chown -R webapp:webapp /var/log/tomcat
            chown -R webapp:webapp /var/log/application

option_settings:
  aws:autoscaling:launchconfiguration:
    LaunchTemplateId: !Ref AWSEBLaunchTemplate
    LaunchTemplateVersion: !GetAtt AWSEBLaunchTemplate.LatestVersionNumber
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '1'
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
